body,html, #navMask, #container, #belowNav{background-color: white;}
#sim{padding-right: 1px;}
h2#siteSlogan,.album-title,.movie-page-title,h1,h2,h3,h4,h5,h6 {text-shadow: #FFF 0 1px 0, #FFF 0 0px 1px}

.fluid-width-video-wrapper {
background: rgba(255,255,255,0.5);
box-shadow: rgba(255,255,255, 0.5) 0 1px 0, rgba(0, 0, 0, 0.2) 0 1px 3px;
}