#navBtn{ 
box-shadow: inset rgba(255,255,255,0.07) 0 1px 0, inset rgba(255,255,255,0.03) -1px 0 0, inset rgba(0,0,0,0.2) 0 -2px 0, inset rgba(255,255,255,0.03) 0 -1px 0;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 255, 255, 0.10)), to(rgba(254, 255, 255, 0.00)));
background-image: -webkit-linear-gradient(top, rgba(254, 255, 255, 0.10), rgba(254, 255, 255, 0.00));
background-image: -moz-linear-gradient(top, rgba(254, 255, 255, 0.10), rgba(254, 255, 255, 0.00));
}