
#stacks_in_101_page0 {
	margin: 0px 0px 36px 0px;
}
/*-- Responsive 3 Column Stack v1.1.1 by Joe Workman --*/
#stacks_in_41_page0 .jwresp_wrapper{width:100%;overflow:auto;}
#stacks_in_41_page0 .jwresp_col{overflow:hidden;vertical-align:top;margin-right:2.4%;width:31%;float:left;}#stacks_in_41_page0 #jwresp_col3_stacks_in_41_page0{margin-right:0;}

	@media screen and (max-width:770px){#stacks_in_41_page0 .jwresp_col{width:48.5%;margin-right:2%}#stacks_in_41_page0 #jwresp_col2_stacks_in_41_page0{margin-right:0;}#stacks_in_41_page0 #jwresp_col3_stacks_in_41_page0{width:100%;margin:15px 0;display:block;}}

@media screen and (max-width:500px){#stacks_in_41_page0 #jwresp_col1_stacks_in_41_page0,#stacks_in_41_page0 #jwresp_col3_stacks_in_41_page0,#stacks_in_41_page0 #jwresp_col2_stacks_in_41_page0{margin:15px 0;width:100%;display:block;}}
/*-- End Responsive Stack --*/
#stacks_in_81_page0 {
	margin: 0px 0px 12px 0px;
}

#stacks_in_79_page0 {
	margin: 12px 0px 12px 0px;
}

#stacks_in_83_page0 {
	margin: 0px 0px 24px 0px;
}

#stacks_in_131_page0 {
	margin: 0px 0px 12px 0px;
}

#stacks_in_129_page0 {
	margin: 12px 0px 12px 0px;
}

#stacks_in_133_page0 {
	margin: 0px 0px 24px 0px;
}

#stacks_in_137_page0 {
	margin: 0px 0px 12px 0px;
}

#stacks_in_139_page0 {
	margin: 12px 0px 12px 0px;
}

#stacks_in_141_page0 {
	margin: 0px 0px 24px 0px;
}
/*-- Responsive 3 Column Stack v1.1.1 by Joe Workman --*/
#stacks_in_45_page0 .jwresp_wrapper{width:100%;overflow:auto;}
#stacks_in_45_page0 .jwresp_col{overflow:hidden;vertical-align:top;margin-right:2.4%;width:31%;float:left;}#stacks_in_45_page0 #jwresp_col3_stacks_in_45_page0{margin-right:0;}

	@media screen and (max-width:770px){#stacks_in_45_page0 .jwresp_col{width:48.5%;margin-right:2%}#stacks_in_45_page0 #jwresp_col2_stacks_in_45_page0{margin-right:0;}#stacks_in_45_page0 #jwresp_col3_stacks_in_45_page0{width:100%;margin:15px 0;display:block;}}

@media screen and (max-width:500px){#stacks_in_45_page0 #jwresp_col1_stacks_in_45_page0,#stacks_in_45_page0 #jwresp_col3_stacks_in_45_page0,#stacks_in_45_page0 #jwresp_col2_stacks_in_45_page0{margin:15px 0;width:100%;display:block;}}
/*-- End Responsive Stack --*/