body,.filesharing-item-title a:before,.filesharing-item-title a,a.blog-comment-link, form > div .form-input-field,form > div .form-input-button,input.form-input-button[type="reset"],input.form-input-button[type="submit"],#breadcrumb li:last-child a{color: #FFFFFF;}

#breadcrumb, 
#breadcrumb a{
color:#FFFFFF;
}

#siteTitle,
#siteTitle:hover{
background-color: #000000;
color: #FFFFFF;
}

#siteTitle a,
#siteTitle a:hover{
color: #FFFFFF;
}

a.current{
color: #FFFFFF;
}

#navBtn{
background-color: #FF0300;
color: #FFFFFF;
}

nav, #socialMask #socialContainer{
background-color: %colour_nav_background%;
}

section a{color:#FFFFFF;}
section a:hover{color:#FFFFFF;}

.blog-entry-title a,
.blog-entry-title,
.album-title,.movie-page-title, 
h1,h2,h3,h4,h5,h6{
color: #FFFFFF;
}