html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{padding:0;margin:0;border:0;outline:0;font-size:100%;font: inherit;background:transparent;}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block;}

body,html{ height: 100%; }

body,html, #container, #belowNav{
background-color: #000;
}

#wrapper{min-height: 100%;}

body{
font-size: 16px;
font-family: Arial;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: none;
opacity: 0;
}

li{margin: 0 0 0 10px;}
ul{margin: 0 0 20px 10px;}

a{ text-decoration: none; }
#content > a:hover{ text-decoration: underline; }
b, strong{font-weight: bolder;}
em, i{font-style: italic;}
p{padding: 10px 0;}

blockquote{
padding-left: 20px;
border-left: 5px solid #333;
font-style: italic;
}

blockquote p{padding: 0;}

code{
font-size: 0.8em;
font-family: Monaco;
background: #222;
padding: 10px 20px;
display: block;
}

.imageStyle{max-width: 100%;height: auto !important;}
.image-left{float: left;padding: 0 15px 15px 0;}
.image-right{float: right;padding: 0 0 15px 15px;}
.clear{ clear: both; }

@font-face{
font-family: 'BebasNeueRegular';
src: url('font/BebasNeue-webfont.eot');
src: url('font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
 url('font/BebasNeue-webfont.woff') format('woff'),
 url('font/BebasNeue-webfont.ttf') format('truetype'),
 url('font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:'SocialIconsMedium';
src:url('font/socialicons.eot');
src:url('font/socialicons.eot?#iefix') format('embedded-opentype'),
url('font/socialicons.woff') format('woff'),
url('font/socialicons.ttf') format('truetype'),
url('font/socialicons.svg#SocialIconsMedium') format('svg');
font-weight:normal;
font-style:normal;
}

h1,h2,h3,h4,h5,h6,.photo-title,.album-title,.movie-page-title,#blog-categories:before,#blog-archives:before,ul.blog-tag-cloud:before,#blog-rss-feeds:before,#navBtn,nav{
font-family: 'BebasNeueRegular', sans-serif;
}

h1{font-size:2.2em;}
h2{font-size:2em;}
h3{font-size:1.8em;}
h4{font-size:1.6em;}
h5{font-size:1.4em;}
h6{font-size:1.2em;}

h1,h2,h3,h4,h5,h6{
line-height: 1em;
}

.wrapper{ margin: 0 auto; width: 100%; }
header section.wrapper{ position: relative; z-index: 10; }

header{ 
position: relative;
}

#aboveNav,
#belowNav{
background-repeat: no-repeat;
background-position: center top;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
position: relative;
width: 100%;
z-index: 101;
height: 130px;
}

#belowNav{
position: relative;
background-position: bottom center, center -130px;
background-repeat: no-repeat, no-repeat;
-webkit-background-size: auto 65%, cover;
-moz-background-size: auto 65%, cover;
-o-background-size: auto 65%, cover;
background-size: auto 65%, cover;
z-index: 300;
top:0;
}

#aboveNav, #belowNav{ background-image: url(images/carbon.jpg); }

#aboveNav.open{
box-shadow: inset rgba(255, 255, 255, 0.05) 0 -1px 0;
-webkit-box-shadow: inset rgba(255, 255, 255, 0.05) 0 -1px 0;
}
#belowNav.open{
box-shadow: inset rgba(255, 255, 255, 0.05) 0 1px 0;
-webkit-box-shadow: inset rgba(255, 255, 255, 0.05) 0 1px 0;
}

#aboveNav .wrapper{text-align: right;}

nav.animate{
    -webkit-animation-name: fadeIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 3.5s;
	-webkit-animation-delay: 1.5s;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

#siteTitle,
#navBtn,
a.social,
#socialMask #socialContainer{
font-size:27px;
letter-spacing: 1px;
height: 42px;
line-height: 44px;
padding: 0 16px;
-webkit-perspective: 1000;
}

#logo{
position: absolute;
top:40px;
left:80px;
background-repeat: no-repeat;
background-size: 100%;
}

#logo img{
visibility: hidden;
position: absolute;
left: -9999px;
}

#primary{
display: inline-block;
margin-top: 45px;
overflow: hidden;
}

#siteTitle{
float: left;
margin: 0;
}

#siteTitle a{
padding: 0 0 8px;
}

#socialMask{
position: relative;
float: left;
}

#socialMask #socialContainer{
box-shadow: inset #000 0 0 10px;
-webkit-box-shadow: inset #000 0 0 10px;
background-repeat: repeat;
padding: 0 10px;
float: left;
}

a.social{
font-size:22px;
letter-spacing: 0;
line-height: 42px;
padding: 0;
width: 50px;
text-align: center;
display: block;
float: left;
color: #fff;
font-family: 'SocialIconsMedium', sans-serif;
text-shadow: #000 0 1px 2px, #000 0 1px 2px;
}

a.social:hover{
text-decoration: none !important;
color: #fff;
}

#navS{
padding: 35px 0 0px;
margin-bottom: -30px;
position: relative;
z-index: 10;
display: none;
}

#navS a.social{
font-size: 22px;
height: 40px;
width: 40px;
position: relative;
text-align: center;
line-height: 42px;
display: inline-block;
margin: 0 15px 20px 0;
font-family: 'SocialIconsMedium';
color: white;
float: none;
font-weight: normal;
-webkit-transition: all 150ms;
-moz-transition: all 150ms;
-ms-transition: all 150ms;
-o-transition: all 150ms;
transition: all 150ms;
border-radius: 2px;
background: rgba(255, 255, 255, 0.1);
box-shadow: #000 0 1px 1px, inset rgba(255, 255, 255, 0.2) 0 1px 0;
-webkit-box-shadow: #000 0 1px 1px, inset rgba(255, 255, 255, 0.2) 0 1px 0;
}

#navS #socialContainer{
width: 100% !important;
}

a.social:hover{ text-shadow: #000 0 1px 2px, #000 0 1px 2px, #fff 0 0 10px;}

/* Navigation Trigger Button*/

#navBtn{
float: right;
position: relative;
z-index: 200;
cursor: pointer;
padding: 0 15px 0 10px;
}

#navBtn:before{
font: bolder 28px 'Trebuchet MS';
padding-right: 5px;
content:'+';
}

#navBtn.open:before{
content:'–';
font-size: 32px;
padding: 0 7px 0 2px;
}
	
nav{
width: 100%;
background-repeat: repeat;
box-shadow: inset #000 0 0 30px;
-webkit-box-shadow: inset #000 0 0 30px;
text-shadow: #000 0 1px 2px, #000 0 1px 2px;
font-size: 29px;
z-index: 200;
position: absolute;
overflow: hidden;
}

nav ul{ padding: 0; margin: 0; }
nav > ul{ padding: 0 0 20px; }
nav .padding > ul > li > a{ padding-right: 15px; }

nav .wrapper{
top:0;
padding: 25px 0 30px;
position: relative;
}

nav ul ul.wrapper{
padding: 0;
}

nav li{
display: block;
padding: 8px 0;
margin: 0;
}

nav li a,
a.social{
color: #fff;
-webkit-perspective: 1000;
-webkit-transition: text-shadow 300ms, opacity 300ms; 
-moz-transition: text-shadow 300ms; 
-ms-transition: text-shadow 300ms; 
-o-transition: text-shadow 300ms; 
transition: text-shadow 300ms, opacity 300ms;
}

nav li li{
display: inline-block;
padding: 0;
}

nav li li:after{
content: "/";
padding-left: 10px;
padding-right: 5px;
font-family: "Arial Narrow";
opacity: .2;
}

nav li li a{ opacity: .3; }
nav li li a.current{ opacity: 1; }
nav li li a:hover{ opacity: 1; text-shadow: #000 0 1px 2px,#000 0 1px 2px, #666 0 0 10px;}
nav ul ul{ display: inline; }

/* Main Content Section */

h2#siteSlogan,
h2#sideTitle{
font-size: 36px;
line-height: 1.4em;
padding-bottom: 14px;
}

h2#siteSlogan{
display: none;
text-shadow: #000 0 1px 0, #000 0 0 2px;
}

.album-title{
text-shadow: #000 0 1px 0, #000 0 1px 2px;
}

.padding{
padding-left: 80px;
padding-right: 80px;
}

header #primary{
margin-right: 80px;
}

#container{
position: relative;
line-height: 1.7em;
z-index: 400;
}

#container .padding{
top: -100px;
position: relative;
}

#sidebar{
padding-top: 40px;
padding-bottom: 40px;
margin: 40px 0 -20px;
clear: both;
display: none;
background-repeat: repeat;
background-color: #202020;
box-shadow: inset rgba(0,0,0,0.7) 0 0 30px;
-webkit-box-shadow: inset rgba(0,0,0,0.7) 0 0 30px;
text-shadow: #000 0 1px 2px, #000 0 1px 2px;
}

#sidebar.show{display: block;}

#footer{clear: both;}

footer{
margin-top: 20px;
padding: 20px 0;
font: 12px Arial;
opacity: 0.5;
}

/* Built-in Pages */

.js-kit-comments { float: left }

.blog-entry {
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: 1px solid #222;
    float: left;
    width: 100%;
    clear: both;
}

.blog-entry.lastPost {
    padding-bottom: 0;
    margin-bottom: 20px;
    border-bottom: none;
}

.blog-entry-title {
    font-size: 2.2em;
    clear: both;
    padding: 10px 0 0;
    position: relative;
}
.blog-entry-date {
    font-size: 0.9em;
    padding: 5px 0 10px;
}
.blog-entry-category { color: #555 }
.blog-entry-category a {
    color: #ccc;
    padding: 15px 10px;
}
.blog-entry-date a:hover { color: #fff }
.blog-entry-body { padding: 0 0 15px }

.blog-read-more {
    display: block;
    font-size: 1em;
    padding: 10px 0 0;
    font-weight: bolder;
}
a.blog-comment-link {
    margin-top: 7px;
    padding: 6px 0;
    font-weight: bolder;
    display: inline-block;
    clear: both;
    font-family: arial;
}
p.blog-entry-tags {
    clear: both;
    font-size: 0.9em;
    font-family: arial;
    margin-top: 10px;
    padding-top: 10px;
}
p.blog-entry-tags a { padding: 0 3px }
#blog-categories:before,
#blog-archives:before,
ul.blog-tag-cloud:before,
#blog-rss-feeds:before {
    display: block;
    color: #fff;
    font-size: 1.8em;
    margin: 4px 0 12px;
    font-weight: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
#blog-categories,
#blog-archives,
ul.blog-tag-cloud,
#blog-rss-feeds {
    line-height: 1.5em;
    display: table-cell;
    list-style: none;
    width: 25%;
}

#plugIn { display: none; width: 100%; }
#plugIn.active { 
display: table !important; 
}

#plugIn.break {
border-bottom: 1px solid rgba(0,0,0,0.3);
box-shadow: rgba(255,255,255,0.07) 0 1px 0;
-webkit-box-shadow: rgba(255,255,255,0.07) 0 1px 0;
margin-bottom: 30px;
padding-bottom: 30px;
}

#plugIn a {
    font-size: 1em;
    color: #aaa;
    padding: 5px 40px 5px 0;
}
#plugIn a:hover { color: #fff }
#blog-categories:before { content: "Categories" }
#blog-archives:before { content: "Archives" }
ul.blog-tag-cloud:before { content: "Tags" }
#blog-rss-feeds:before { content: "Feeds" }

.blog-category-link-enabled,
.blog-archive-link-enabled { display: block }
#blog-categories br,
#blog-archives br,
.blog-category-link-disabled,
.blog-archive-link-disabled { display: none }
ul.blog-tag-cloud {
    padding: 0;
    margin: 0;
}
ul.blog-tag-cloud li {
    margin: 0;
    padding: 0;
}
ul.blog-tag-cloud li a { display: inline-block }
.blog-tag-size-1 { font-size: 0.8em }
.blog-tag-size-2 { font-size: 0.85em }
.blog-tag-size-3 { font-size: 0.9em }
.blog-tag-size-4 { font-size: 0.95em }
.blog-tag-size-5 { font-size: 1em }
.blog-tag-size-6 { font-size: 1.05em }
.blog-tag-size-7 { font-size: 1.1em }
.blog-tag-size-8 { font-size: 1.15em }
.blog-tag-size-9 { font-size: 1.2em }
.blog-tag-size-10 { font-size: 1.25em }
.blog-tag-size-11 { font-size: 1.3em }
.blog-tag-size-12 { font-size: 1.35em }
.blog-tag-size-13 { font-size: 1.4em }
.blog-tag-size-14 { font-size: 1.45em }
.blog-tag-size-15 { font-size: 1.5em }
.blog-tag-size-16 { font-size: 1.55em }
.blog-tag-size-17 { font-size: 1.6em }
.blog-tag-size-18 { font-size: 1.65em }
.blog-tag-size-19 { font-size: 1.7em }
.blog-tag-size-20 { font-size: 1.75em }
.blog-archive-month,
.blog-archive-link { display: none }
.blog-rss-link:before,
.blog-comments-rss-link:before {

}

/* Movie Album */

.movie-page-description { margin-bottom: 15px }
.movie-thumbnail-frame {
    line-height: 0;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 2px 0,rgba(0,0,0,0.3) 0 0 1px;
    box-shadow: rgba(0,0,0,0.15) 0 2px 0,rgba(0,0,0,0.3) 0 0 1px;
    border-radius: 3px;
    position: relative;
    width: 45%;
    display: inline-block;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    margin: 0 1.5%;
    display: inline-block;
    width: 30%;
}
.movie-thumbnail-frame:hover { -webkit-transform: scale(1.01) }
.lastMov { margin-bottom: 5px }
.movie-thumbnail-frame img {
    width: 100% !important;
    height: auto !important;
    border-radius: 3px 3px 0 0;
}
.movie-thumbnail-caption {
    width: auto;
    border-radius: 0 0 3px 3px;
    line-height: 1.5em;
    padding: 11px 20px;
    text-shadow: none;
    color: #fff;
    font-size: 0.9em;
    background: #222;
    visibility: hidden;
    box-shadow: inset #222 0 -1px 0,inset #333 0 -2px 0,inset #111 0 1px 0,inset #333 0 2px 0;
    -webkit-box-shadow: inset #222 0 -1px 0,inset #333 0 -2px 0,inset #111 0 1px 0,inset #333 0 2px 0;
}
#movieAlbum .movie-thumbnail-caption { visibility: visible }

.movie-background {
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 438px;
    background-color: #222;
    box-shadow: inset rgba(0,0,0,0.3) 0 10px 0;
    padding: 30px 0 0;
    opacity: 1;
}
.movie-title {
    padding: 17px 0 0 0;
    font-size: 0.9em;
    font-weight: bolder;
    color: #ddd;
}
.movie-page-title {
    font-size: 2.2em;
    line-height: 1em;
    padding: 0 0 5px 3px;
}
.album-title {
    font-size: 2.2em;
    line-height: 1em;
    padding: 0 0 25px 3px;
}
.album-description { display: none }
.thumbnail-frame {
    position: relative;
    float: left;
}
.thumbnail-wrap {
    margin: 1%;
    height: auto !important;
    display: block;
    float: left;
}
.thumbnail-caption { display: none }
.thumbnail-frame img {
    border-radius: 3px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}
.thumbnail-frame img:active,
.thumbnail-frame img:hover { -webkit-transform: scale(1.027);}

/* Photo Album Thumbnails*/

.album-title {font-size:2.2em;padding-bottom:0;margin-left: 20px;}
.album-description{padding-bottom:10px;margin-left: 20px; display: none;}
.album-wrapper {margin: 20px 0 0 0;overflow: hidden;}
.thumbnail-wrap {float:left;margin:20px 25px;}
.thumbnail-caption {display: none;}

/* Photo Album Full */

body.photo-background {padding: 50px;text-align: center;text-shadow: #000 0 1px 1px;}

body.photo-background{
opacity: 1;
}

div.photo-navigation{position: relative;}
div.photo-navigation p{ padding: 0; }
p.photo-title{font-size: 1.8em;padding-bottom:10px !important;}
p.photo-caption {margin: 5px 0 20px;font-size: 1em;}

p.photo-links {
font-size: 0.9em;
background: rgba(255,255,255,0.07);
box-shadow: inset rgba(255,255,255,0.1) 0 1px 0, #000 0 1px 3px;
-webkit-box-shadow: inset rgba(255,255,255,0.1) 0 1px 0, #000 0 1px 3px;
-moz-box-shadow: inset rgba(255,255,255,0.1) 0 1px 0, #000 0 1px 3px;
border-radius: 2px;
display: inline-block;
margin-bottom: 30px;

background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.10)), to(rgba(255, 255, 255, 0.00)));
background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.00));
background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.00));

}
p.photo-links a {
padding: 10px 8px;
font-weight: bolder;
display: inline-block;
text-shadow: #000 0 1px 1px;
color: #fff;
}

p.photo-links a:first-child {padding-left: 15px !important;}
p.photo-links a:last-child {padding-right: 15px !important;}

img.photo-frame{
max-width: 100%;
height: auto !important;
position: relative;
border-radius: 4px;
box-shadow: #000 0 2px 5px;
-webkit-box-shadow: #000 0 2px 5px;
-moz-box-shadow: #000 0 2px 5px;
}

/* Filesharing */

.filesharing-item-title {
    width: 100%;
    position: relative;
}
.filesharing-item-title a {
    display: block;
    padding: 7px 15px 8px 40px;
    font-size: 15px;
    background-color: #222;
    box-shadow: inset rgba(255,255,255,0.04) 0 1px 0, inset rgba(0,0,0,0.25) 0 -3px 0, #000 0 1px 3px;
    line-height: 1.5em;
    font-weight: bolder;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(254, 255, 255, 0.10)), to(rgba(254, 255, 255, 0.00)));
background-image: -webkit-linear-gradient(top, rgba(254, 255, 255, 0.10), rgba(254, 255, 255, 0.00));
background-image: -moz-linear-gradient(top, rgba(254, 255, 255, 0.10), rgba(254, 255, 255, 0.00));
}

.filesharing-item-title a:hover {
    background-color: #333;
}

.filesharing-item-title a:before {
    content: '‣';
    font-family: arial;
    font-weight: normal;
    top: 6px;
    left: 6px;
    position: absolute;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    height:24px;
    width: 24px;
    float: left;
    text-shadow: none;
    color: #fff;
    background-color: #222;
    background-color: rgba(0,0,0,0.3);
    box-shadow: inset rgba(0,0,0,0.4) 0 1px 1px;
    -webkit-box-shadow: inset rgba(0,0,0,0.4) 0 1px 1px;
    display: block;
    z-index: 10;
}

.filesharing-item-title a:hover:before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background-color: rgba(0,0,0,0.4);
    box-shadow: inset rgba(0,0,0,0.4) 1px 0 1px;
    -webkit-box-shadow: inset rgba(0,0,0,0.4) 1px 0 1px;
}
.filesharing-item-description {
    font-size: 0.9em;
    line-height: 1.7em;
    padding: 10px 0 0;
}
.filesharing-item {
    margin: 20px 1.5%;
    display: inline-block;
    width: 30%;
}

/* Contact Form */

form > div label {
font: bolder 10px arial; 
text-transform: uppercase;
letter-spacing: 1px;
opacity: 0.4;
}
form > div br + br,.form-footer + br {display: none;}

form > div textarea.form-input-field,
form > div input.form-input-field[type="text"],
form > div input.form-input-button[type="submit"],
form > div input.form-input-button[type="reset"] {
    font: 0.9em Arial;
    padding: 10px 12px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    width: 91%;
    border: none;
    outline: none;
    background-color: #1C1C1C;
    
}
form > div input.form-input-button[type="submit"],
form > div input.form-input-button[type="reset"] {
    width: auto;
    margin: 20px 15px 0 0;
    padding: 11px 15px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bolder;
    letter-spacing: 1px;
    text-transform: uppercase;
}
form > div textarea.form-input-field:hover,
form > div input.form-input-button[type="submit"]:hover,
form > div input.form-input-button[type="reset"]:hover,
form > div input.form-input-field[type="text"]:hover { background-color: #2C2C2C; }

form > div textarea.form-input-field:focus,
form > div input.form-input-field[type="text"]:focus {
    outline: none;
    background-color: #303030;
}

/* Sitemap */

ul.tree{
margin: 0 0 20px 0;
}

ul.tree > li{
float:left;
margin-right: 45px;
list-style: none;
font-weight: bolder;
}

ul.tree ul{
padding-top: 5px;
list-style: decimal-leading-zero;
padding-left: 8px;
font-size: 0.8em;
}

ul.tree ul li a{
font-weight: normal;
text-indent: -3px;
opacity: 0.7;
}

ul.tree ul li a:hover{
opacity: 1;
}

#manual h2{ line-height: 26px; }

/* Media Queries */

@media screen and (min-width: 1000px) {
	
    #belowNav{height: 450px;}
}

@media screen and (max-width: 1000px) {
	
    #belowNav{ height: 350px; }
    #container .padding { top: -80px; }
    
    .movie-thumbnail-frame,
    .filesharing-item { width: 46%; }
    
    .active{display: block !important;}
    #plugIn li{display: inline-block;}
    
    #plugIn a{
    display: inline-block;
    font-weight: normal;
    padding-right: 7px;
    }
    
    #plugIn a:after{
    content:'/';
    padding-left: 7px;
    color: #555;
    letter-spacing: -1px;
    font-weight: normal;
    }
    
    #blog-categories,
    #blog-archives,
    ul.blog-tag-cloud,
    #blog-rss-feeds {
    display: block !important;
    width: 100%;
    }
}

@media screen and (max-width: 800px) {

    #logo{background-size: 85%;}
    #socialMask{left: 0 !important;margin-left: 0 !important;}
    #socialMask #socialContainer{display: none;}
	#navS{display: block;}
	.padding{
    padding-left: 70px;
    padding-right: 70px;
    }
    header #primary{
    margin-right: 70px;
    }
    #belowNav{ height: 300px; }
    #container .padding { top: -70px; }
}

@media screen and (max-width: 700px) {
	
    #belowNav{height: 200px;}
    #container .padding { top: -60px; }
    
    .movie-thumbnail-frame,
    .filesharing-item { width: 99%; margin-left: 0; margin-right: 0}
}

@media screen and (max-width: 600px) {

    #logo{
    top: 15px;
    left: auto;
    right: 0;
    }
    
    #belowNav{height: 150px;}
    #container .padding { top: -50px; }
    .padding{ padding-left: 30px; padding-right: 30px; }
    
    #navBtn{
    clear: both;
    float: left;
    }
    
    #aboveNav .wrapper {
    text-align: left;
    }

    header #primary {
    margin-top: 15px;
    margin-right: 0;
    }
}

@media screen and (max-width: 500px) {

    body.photo-background {padding: 30px;}

    #belowNav{ 
    height: 100px;
    -webkit-background-size: auto 105%, cover;
    -moz-background-size: auto 105%, cover;
    -o-background-size: auto 105%, cover;
    background-size: auto 105%, cover;
    
    }
    #container .padding { top: -40px; }
}

@media screen and (max-width: 320px) {

    body.photo-background {padding: 0;}
    
    p.photo-title {
    font-size: 1.8em;
    padding: 10px 0 0 !important;
    }
    
    p.photo-caption {
    font-size: 0.9em;
    margin: 3px 0 10px;
    }
    
    p.photo-links {
    margin-bottom: 20px;
    }
    
    img.photo-frame {
    border-radius: 0;
    }

    header h1, #navBtn{ padding: 0 15px; }
    #navBtn.open:before{ padding: 0 7px 0 2px; }
    .padding{ padding-left: 15px; padding-right: 15px; }
    nav .padding{ padding-left: 20px; padding-right: 20px; }
    
    #belowNav{ 
    height: 50px;
    -webkit-background-size: cover, cover;
    -moz-background-size: cover, cover;
    -o-background-size: cover, cover;
    background-size: cover, cover;
    }     
    #container .padding { top: -40px; }
 
    h2#siteSlogan{
    padding-bottom: 0.2em;
    }
    
    .thumbnail-wrap{
    width:80% !important;
    height: auto !important;
    line-height: 0;
    }
    
    .thumbnail-frame{
        width:100% !important;
    }
    .thumbnail-frame a{
    line-height: 0;
    height: auto;
    }
    
    .thumbnail-frame img{
    width: 100% !important;
    height: auto !important;
    }
}